<ion-header [translucent]="true">
  <ion-toolbar color="verde">
    <ion-chip>
      <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="https://i.pinimg.com/564x/03/87/23/038723ff352b83d7d98927a5cb229f48.jpg" />
      </ion-avatar>
      <ion-label>Pedrito Salazar</ion-label>
    </ion-chip>
    <ion-button (click)="login()" class="exit" color="verde">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('https://i.pinimg.com/564x/21/9c/c8/219cc8c4703fcd394b8f0d272c8b6809.jpg') no-repeat center center / cover;">
  <h1>Catálogo</h1>

  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons" (click)="viewPokemonDetails(pokemon.url)">
      {{ pokemon.name }}
    </ion-item>
  </ion-list>

</ion-content>
