<ion-header [translucent]="true">
  <ion-toolbar color="estadisticas">
    <ion-chip>
      <ion-avatar class="avatar">
        <img alt="Silhouette of a person's head" src="https://i.pinimg.com/564x/03/87/23/038723ff352b83d7d98927a5cb229f48.jpg" />
      </ion-avatar>
      <ion-label>Pedrito Salazar</ion-label>
    </ion-chip>
    <ion-button (click)="login()" class="exit" color="verde">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: url('https://i.pinimg.com/564x/a5/31/3e/a5313ef8514060e05a32f253d1ddcc7c.jpg') no-repeat center center / cover;">
  <h1>Estadísticas</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Pókemones encontrados</ion-card-title>
      <ion-card-subtitle>10 pókemones encontrados</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="https://i.pinimg.com/236x/c5/22/28/c52228f8ff935a4700ae24cdf2eb6977.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://i.pinimg.com/236x/03/87/23/038723ff352b83d7d98927a5cb229f48.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://i.pinimg.com/236x/59/85/ac/5985ac7fd06446ede2f3bc02e4bf2de7.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://i.pinimg.com/236x/4b/c4/9a/4bc49a0f0191e7ff97077025259305de.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://i.pinimg.com/236x/db/75/76/db7576cddd3d969b5209fc187479953b.jpg" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <img src="https://i.pinimg.com/236x/ec/06/c6/ec06c6b56201112dea1295eb98b5a4ae.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://i.pinimg.com/236x/90/52/28/9052285b4c1fc2afda9f3d412f4a5a5f.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://i.pinimg.com/236x/13/fb/00/13fb00a52b24ce1a71afe17e0914c6da.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://i.pinimg.com/564x/b8/5c/15/b85c1527b7d127b64cff14af0315e10c.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://i.pinimg.com/236x/0d/c8/40/0dc8405af146e279b56e04a84c522cf7.jpg" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Último pókemon registrado</ion-card-title>
      <ion-card-subtitle>El último pókemon capturado fue Gengar</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <img src="https://i.pinimg.com/564x/d1/b2/aa/d1b2aa2fc43a0272f9b0c88f7bf5735e.jpg" alt="">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pókemones favoritos</ion-card-title>
      <ion-card-subtitle>Aquí veras tus pokemones favoritos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/054.png" alt="">
          </ion-col>
          <ion-col>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/068.png" alt="">
          </ion-col>
          <ion-col>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/074.png" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
